.velib-station-marker-container {
    width: 100%;
    height: 100%;
    padding: 5px;
  }
  
  .velib-station-marker-content {
    background-color: #ffffff;
    height: 80%;
    width: 100%;
    border-radius: 5px;
    color: black;
    box-shadow: 0px 0px 3px 3px #c0c0c0;
    z-index: 10;
  }

  .velib-station-marker-content.lite{
    background-color:#a2b43a;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px #c0c0c0;
    background-size: 60% 60%;
    background-position: center;
    position: relative;
    top: 5px;
    background-repeat: no-repeat;
    z-index: 50;
  }

  .velib-station-marker-content:active {
    box-shadow: 0px 0px 5px 5px #3498db;
  }

  .velib-station-marker-content.selected {
    box-shadow: 0px 0px 5px 5px #3498db;
  }

  .velib-station-marker-label{
    width: 100%;
    height: 20%;
    text-align:center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 3px;
    border-bottom: solid 1px #e4e4e4d0;
  }

  .velib-station-marker-infos{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .velib-station-marker-infos .station-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
  } 

  .velib-station-marker-infos .station-info img{
    width: 35px;
    height: 35px;
  } 

  .velib-station-marker-distance-label{
    text-align: center;
    width: 100%;
    padding: 0 5px;
    margin: 0 auto;
    border-top: solid 1px #e4e4e4d0;
  }

  .velib-station-marker-image > img{
    width: 100%; 
    height: 100%;
  }

.velib-station-not-available{
  text-align: center;
  color: orangered;
  
}
  
  .velib-station-marker-bottom {
    height: 20%;
    width: 100%;
  }
  
  .triangle {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 10px;
    border-left-width: 10px;
    border-top: 30px solid  #2c3e50; 
  }